.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.switch{
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.main{
  margin: 16px;
  border: solid 1px black;
  padding: 1em;
}

label{
  margin-right: 8px;
}

#light{
  background-color: #f3ebf6;
}

#light .main{
  background-color: #fff;
}

#light .main h1{
  color: black;
}

#light .main p{
  color: black;
}

#light .switch label{
  color: black;
}

#dark{
  background-color: #46045e;
}

#dark .main{
  background-color: #38004c;
}

#dark .main h1{
  color: white;
}

#dark .main p{
  color: white;
}

#dark .switch label{
  color: white;
}